:root {
  //COLOR
  --color-primary: hsl(47, 88%, 63%); //YELLOW
  --color-white: hsl(0, 0%, 100%); //WHITE
  --color-grey: hsl(0, 0%, 50%); //GREY
  --color-black: hsl(0, 0%, 7%); //BLACK

  //FONTS
  --font-primary: "Figtree", sans-serif;
}
