*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px
}

body {
  box-sizing: border-box;
  background-color: var(--color-primary);
  display: flex;
  padding: 21.85rem 0rem 21.95rem 0rem;
  justify-content: center;
  align-items: center;
}
