body {
  color: var(--color-black);
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 2.4;
}

.heading-primary {
  align-self: stretch;
  color: var(--color-black);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.6rem;
  transition: color 0.2s;

  @include respond(phone) {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
}

.paragraph {
  color: var(--color-grey);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;

  @include respond(phone) {
    font-size: 1.75rem;
    line-height: 2.635rem;
  }
}
